body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
}

#container {
  display: flex;
}

#indice {
  color: #2164a5;
  text-align: center;
}

#indexBox {
  display: flex;
  flex-direction: column;
  background-color: #c7d3df;
  padding: 5px;
  font-size: 14px;
}

main {
  padding-right: 10px;
  padding-left: 10px;
  width: 80%;
}

.conceptTitle {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: #000;
}

ol > li {
  line-height: 30px;
}

ul > li {
  list-style-type: circle;
  line-height: 30px;
}

h1 {
  color: white;
  background-color: #2164a5;
  text-align: center;
}

h3 {
  color: #2164a5;
  background-color: #f9bc28;
  padding: 10px;
}

#github,
#link {
  color: white;
  background-color: #2164a5;
  padding: 10px;
}

.anchor {
  color: purple;
}
